<li class="op">
  <div class="row collapse">
    <div class="small-7 column"><%= active_op.name %></div>
    <div class="small-5 column text-right"><%= link_to "Participate", "#", class: "button tiny" %></div>
  </div>
</li>
