<div class="row">
  <div class="small-12 column">
    <h3><%= corp.name %></h3>
  </div>
</div>

<div class="block-group">
  <div class="row">
    <div class="medium-6 column">
      <h6>Active Ops</h6>
      <ul class="ops">
        <%= render partial: "active_op", collection: corp.ops.active %>
      </ul>
    </div>
    <div class="medium-6 column">
      <h6>Upcoming Ops</h6>
      <ul class="ops">
        <%= render partial: "future_op", collection: corp.ops.future %>
      </ul>
    </div>
  </div>
</div>
