---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/APIKeyInfo.xml.aspx?keyid=4300328&vcode=gG6S0R1nyX5Sn0taPg0VjIgqWwz3JcgxSLSilHikTmHFpnb6UNDBqyPxJU4knu1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-04-23 02:52:08</currentTime>\r\n  <result>\r\n    <key
        accessMask=\"268435455\" type=\"Account\" expires=\"\">\r\n      <rowset name=\"characters\"
        key=\"characterID\" columns=\"characterID,characterName,corporationID,corporationName,allianceID,allianceName,factionID,factionName\">\r\n
        \       <row characterID=\"94174639\" characterName=\"App Oh PI\" corporationID=\"98312935\"
        corporationName=\"My Chemical Bromance\" allianceID=\"0\" allianceName=\"\"
        factionID=\"0\" factionName=\"\" />\r\n        <row characterID=\"94217452\"
        characterName=\"Main Go PI\" corporationID=\"98312935\" corporationName=\"My
        Chemical Bromance\" allianceID=\"0\" allianceName=\"\" factionID=\"0\" factionName=\"\"
        />\r\n        <row characterID=\"924610593\" characterName=\"Sicks\" corporationID=\"1262577328\"
        corporationName=\"Doom Generation\" allianceID=\"0\" allianceName=\"\" factionID=\"0\"
        factionName=\"\" />\r\n      </rowset>\r\n    </key>\r\n  </result>\r\n  <cachedUntil>2015-04-23
        02:57:08</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 23 Apr 2015 02:52:09 GMT
- request:
    method: get
    uri: https://api.eveonline.com/account/APIKeyInfo.xml.aspx?keyid=4300328&vcode=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-04-23 02:52:09</currentTime>\r\n  <error code=\"203\">Authentication
        failure.</error>\r\n  <cachedUntil>2015-04-24 02:52:09</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 23 Apr 2015 02:52:10 GMT
- request:
    method: get
    uri: https://api.eveonline.com/account/APIKeyInfo.xml.aspx?keyid=&vcode=gG6S0R1nyX5Sn0taPg0VjIgqWwz3JcgxSLSilHikTmHFpnb6UNDBqyPxJU4knu1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-04-23 02:52:10</currentTime>\r\n  <error code=\"106\">Must
        provide userID or keyID parameter for authentication.</error>\r\n  <cachedUntil>2015-04-23
        14:52:10</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 23 Apr 2015 02:52:10 GMT
- request:
    method: get
    uri: https://api.eveonline.com/account/APIKeyInfo.xml.aspx?keyid=4300329&vcode=BqFQDA7L7Z1BlJGg5HbPtTBITOezZmB71XAWLiyD9QZhWUJNjosSjN1XREgbeBqb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-04-23 02:52:11</currentTime>\r\n  <error code=\"222\">Key
        has expired. Contact key owner for access renewal.</error>\r\n  <cachedUntil>2015-04-24
        02:52:11</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 23 Apr 2015 02:52:11 GMT
[...]
