%header
  = page_title "New API Key"
  = link_to "back", api_keys_path, class: "pull-right"

.block-group
  .row
    .small-12.column.text-center
      = link_to "click here if you don't already have a Character Sheet API", "http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=9", target: "_blank"

= render "form"
