---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/APIKeyInfo.xml.aspx?keyid=4300328&vcode=gG6S0R1nyX5Sn0taPg0VjIgqWwz3JcgxSLSilHikTmHFpnb6UNDBqyPxJU4knu1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-04-18 20:39:45</currentTime>\r\n  <result>\r\n    <key
        accessMask=\"268435455\" type=\"Account\" expires=\"\">\r\n      <rowset name=\"characters\"
        key=\"characterID\" columns=\"characterID,characterName,corporationID,corporationName,allianceID,allianceName,factionID,factionName\">\r\n
        \       <row characterID=\"94174639\" characterName=\"App Oh PI\" corporationID=\"98312935\"
        corporationName=\"My Chemical Bromance\" allianceID=\"0\" allianceName=\"\"
        factionID=\"0\" factionName=\"\" />\r\n        <row characterID=\"94217452\"
        characterName=\"Main Go PI\" corporationID=\"98312935\" corporationName=\"My
        Chemical Bromance\" allianceID=\"0\" allianceName=\"\" factionID=\"0\" factionName=\"\"
        />\r\n        <row characterID=\"924610593\" characterName=\"Sicks\" corporationID=\"1262577328\"
        corporationName=\"Doom Generation\" allianceID=\"0\" allianceName=\"\" factionID=\"0\"
        factionName=\"\" />\r\n      </rowset>\r\n    </key>\r\n  </result>\r\n  <cachedUntil>2015-04-18
        20:44:45</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 18 Apr 2015 20:39:45 GMT
recorded_with: VCR 2.9.3
