---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/APIKeyInfo.xml.aspx?keyid=&vcode=gG6S0R1nyX5Sn0taPg0VjIgqWwz3JcgxSLSilHikTmHFpnb6UNDBqyPxJU4knu1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-04-18 20:28:58</currentTime>\r\n  <error code=\"106\">Must
        provide userID or keyID parameter for authentication.</error>\r\n  <cachedUntil>2015-04-19
        08:28:58</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 18 Apr 2015 20:28:58 GMT
recorded_with: VCR 2.9.3
