---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/APIKeyInfo.xml.aspx?keyid=4300329&vcode=BqFQDA7L7Z1BlJGg5HbPtTBITOezZmB71XAWLiyD9QZhWUJNjosSjN1XREgbeBqb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-04-18 20:28:59</currentTime>\r\n  <error code=\"222\">Key
        has expired. Contact key owner for access renewal.</error>\r\n  <cachedUntil>2015-04-19
        20:28:59</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 18 Apr 2015 20:28:59 GMT
recorded_with: VCR 2.9.3
