.label {
  &.notice {
    color: $dark;
  }
}
.unpad-right {
  padding-right: 0;
}
.unpad-left {
  padding-left: 0;
}
.block-group {
  margin: 1rem 0;
  padding: 0 0 0 1rem;
  border: 1px solid $grey;
  border-width: 0 0 0 1px;

  .row:first-child {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }
}
.section-title {
  display: flex;
  align-items: baseline;
}
.subtext {
  font-size: 0.75rem;
}
